nav {
    min-height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.menu-box, .menu-box-hidden {
    background-color: rgb(28, 37, 54);
    color: rgb(226, 226, 226);

    h3 {
        font-size: 1.7rem;
        margin: 0;
    }

    p {
        font-size: 0.9rem;
        padding-left: 1%;
        margin: 0;
        color: rgb(226, 226, 226, 0.7);
    }
}

.logo {
    margin: 7%;
    padding: 6% 7% 7%;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.divider {
    background-color: rgb(47, 55, 70);
}

.main-menu {
    .MuiList-root {
        margin: 3% 5% 1% 5%;
        .MuiListItem-root
        {
            border-radius: 0.5rem;
            margin: 3% auto;
            padding: 0;
            .MuiButtonBase-root
            {
                display: flex;
                align-items: center;
                * {
                    font-family: 'Gabarito', sans-serif;
                    font-weight: bold;
                    padding: 1% 2%;
                }
                .MuiTouchRipple-root {
                    border-radius: 0.5rem;
                }
                padding: 0;
                padding-left: 7%;
            }
            .active {
                border-radius: 0.5rem;
                background-color: rgb(47, 55, 70, 0.5);
                .MuiSvgIcon-root {
                    color: rgb(62, 176, 13);
                }
            }
            &:hover {
                background-color: rgb(47, 55, 70, 0.5);
            }
        }
    }
}

.version-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5%;
}

@media only screen and (max-width: 700px) {
    .menu-box-hidden {
        display: none;
    }
    .main-menu {
        display: block !important;
    }
}
