header {
    min-height: 80px;
}

.header-box {
    height: 100%;
    width: 100%;
    color: black;
    background-color: #EEE;
}

.logo {
    img {
        width: 100px;
        height: 100px;
    }
}