.container {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 10%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    * {
        margin: 2% 0;
    }
}



